* {
  padding: 0;
  margin: 0;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: black;
  color: white;
}

.row {
  padding-top: 10px;
}

.button {
  padding: 4px 4px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: gray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: black;
}

.button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* h5 {
  padding-left: 22vw;
} */

p {
  font-size: 13px;
}

.Wrap {
  color: #ffa506;
  font-size: 30px;
}

.fontWrap h5 {
  color: #ffa506;
}

.profile-head h3 {
  color: #ffa506;
}

.has-drop-cap::first-letter {
  font-size: 220%;
  color: black;
}

.size::first-letter {
  font-size: 200%;
  color: black;
}
